<!-- transferencia-agendar.component.html -->
<div class="container">
  <button mat-raised-button color="primary" (click)="navegarParaMenu()">Voltar para Menu</button>
  <h2>Agendar Transferência</h2>
  <form (ngSubmit)="agendarTransferencia()" #transferenciaForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Conta de Origem</mat-label>
      <input matInput id="contaOrigem" [(ngModel)]="transferencia.contaOrigem" name="contaOrigem" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Conta de Destino</mat-label>
      <input matInput id="contaDestino" [(ngModel)]="transferencia.contaDestino" name="contaDestino" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput type="number" id="valor" [(ngModel)]="transferencia.valor" name="valor" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data da Transferência</mat-label>
      <input matInput type="date" id="dataTransferencia" [(ngModel)]="transferencia.dataTransferencia" name="dataTransferencia" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!transferenciaForm.valid">Agendar</button>
  </form>

  <div *ngIf="mensagem" class="mat-body-1 mat-typography">
    {{ mensagem }}
  </div>
</div>
