<!-- transferencia-extrato.component.html -->
<div class="container">
  <button mat-raised-button color="primary" (click)="navegarParaMenu()">Voltar para Menu</button>
  <h2>Extrato de Transferências</h2>
  <mat-list>
    <mat-list-item *ngFor="let transferencia of transferencias">
      <div>
        <strong>Conta Origem:</strong> {{ transferencia.contaOrigem }}
        <br>
        <strong>Conta Destino:</strong> {{ transferencia.contaDestino }}
        <br>
        <strong>Valor:</strong> {{ transferencia.valor | currency }}
        <br>
        <strong>Data:</strong> {{ transferencia.dataTransferencia | date }}
        <br>
        <strong>Taxa:</strong> {{ transferencia.taxa | currency }}
      </div>
    </mat-list-item>
  </mat-list>
</div>
